@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Sunscreen</h1>
        </section>
        <div style="position: relative;">
            <a href="javascript:history.back()" class="back-btn">Back</a>
            <section class="product-page container">
                <div class="product-image">
                    <img src="~/Content/assets/images/products/sunscreen.png" alt="Sunscreen">
                </div>

                <div class="product-info">
                    <h2>Sunscreen</h2>
                    <p>
                        Protect your skin with this broad-spectrum sunscreen, offering SPF 50 to shield against UVA and UVB rays. 
                        Lightweight and non-greasy, it's perfect for daily wear, leaving your skin hydrated and safe from sun damage.
                        <div class="price">$20</div>
                        <button class="buy-now">Buy Now</button>
</div>
            </section>
        </div>
    </main>
</body>
