@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Bags</h1>
        </section>
        <div style="position: relative;">
            <a href="../Home/HomePage" class="back-btn">Back</a>
            <section class="product-page container">
                <div class="product-image">
                    <img src="~/Content/assets/images/products/bag.png" alt="Bag">
                </div>

                <div class="product-info">
                    <h2>Casual Bag</h2>
                    <p>
                        Stylish and functional, these bags are designed to meet all your needs, from everyday use to travel.
                        Available in a range of sizes and styles, they offer ample storage space and durable materials to keep your essentials organized and secure.
                    </p>
                    <div class="price">$300</div>
                    <button class="buy-now">Buy Now</button>
                </div>
                <div class="product-image">
                    <img src="~/Content/assets/images/products/leather_bag.png" alt="Leather Bag">
                </div>

                <div class="product-info">
                    <h2>Leather Bag</h2>
                    <p>
                        Crafted from premium leather, this bag combines timeless elegance with durability. 
                        With spacious compartments and a sleek design, it’s perfect for daily use or special occasions, adding a touch of sophistication to any outfit.
                    </p>
                    <div class="price">$800</div>
                    <button class="buy-now">Buy Now</button>
                </div>
            </section>
        </div>
    </main>
</body>

