@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="category-header">
            <h1>Blog</h1>
        </section>
        <div style="position: relative;">
            <a href="../Home/HomePage" class="back-btn">Back</a>
            <div class="category-products container">
                <div class="product-card">
                    <img src="~/Content/assets/images/products/blog.png" alt="Blog Post 1">
                    <h3>Latest Trends</h3>
                    <a href="../Home/Blog_page">Read More</a>
                </div>
            </div>
        </div>
    </main>
</body>

