@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Men's Casual Wear</h1>
        </section>
        <div style="position: relative;">
            <a href="../Home/HomePage" class="back-btn">Back</a>
            <div class="category-products container">
                <section class="product-page container">
                    <div class="product-image">
                        <img src="~/Content/assets/images/products/shirt-1.png" alt="Casual Wear">
                    </div>

                    <div class="product-info">
                        <h2>Men's Casual T-shirt</h2>
                        <p>
                            This classic casual t-shirt is soft, comfortable, and perfect for everyday wear. Available in
                            multiple colors and sizes.
                        </p>
                        <div class="price">$50</div>
                        <button class="buy-now">Buy Now</button>
                    </div>
                </section>
            </div>
        </div>
    </main>
</body>

