@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Women's Casual Wear</h1>
        </section>
        <div style="position: relative;">
            <a href="../Home/HomePage" class="back-btn">Back</a>
            <section class="product-page container">
                <div class="product-image">
                    <img src="#" alt="Casual Wear">
                </div>

                <div class="product-info">
                    <h2>Women's Casual Top</h2>
                    <p>
                        This casual top is soft, breathable, and perfect for everyday wear. Pair it with jeans or leggings
                        for a relaxed, comfortable look.
                    </p>
                    <div class="price">$35</div>
                    <button class="buy-now">Buy Now</button>
                </div>
            </section>
        </div>
    </main>
</body>

