@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Clothes Perfumes</h1>
        </section>
        <div style="position: relative;">
            <a href="../Home/HomePage" class="back-btn">Back</a>
            <div class="category-products container">
                <section class="product-page container">
                    <div class="product-image">
                        <img src="~/Content/assets/images/products/clothes_perfumes.png" alt="Clothes Perfumes">
                    </div>

                    <div class="product-info">
                        <h2>Clothes Perfumes</h2>
                        <p>
                            Elevate your wardrobe with these luxurious clothes perfumes, designed to leave a lasting, subtle fragrance on your fabrics.
                            With a variety of captivating scents, they keep your outfits smelling fresh and stylish throughout the day.
                        </p>
                        <div class="price">$50</div>
                        <button class="buy-now">Buy Now</button>
                    </div>
                </section>
            </div>
        </div>
    </main>
</body>

