@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Couple Rings</h1>
        </section>
        <div style="position: relative;">
            <a href="../Home/HomePage" class="back-btn">Back</a>
            <div class="category-products container">
                <div class="product-image">
                    <img src="~/Content/assets/images/products/rings.png" alt="Rings">
                </div>

                <div class="product-info">
                    <h2>Couple Rings</h2>
                    <p>
                        Celebrate your love with these elegant couple rings, crafted from sterling silver for a timeless and durable design.
                        Perfect for symbolizing your special bond, these rings come in matching styles with customizable engravings for a personal touch.
                    </p>
                    <div class="price">$150</div>
                    <button class="buy-now">Buy Now</button>
                </div>
            </div>
        </div>
    </main>
</body>
