@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Deodorants</h1>
        </section>
        <div style="position: relative;">
            <a href="../Home/HomePage" class="back-btn">Back</a>
            <div class="category-products container">
                <section class="product-page container">
                    <div class="product-image">
                        <img src="~/Content/assets/images/products/deodorant.png" alt="Deodorants">
                    </div>

                    <div class="product-info">
                        <h2>Deodorant</h2>
                        <p>
                            Celebrate your love with these elegant couple rings, crafted from sterling silver for a timeless and durable design.
                            Perfect for symbolizing your special bond, these rings come in matching styles with customizable engravings for a personal touch.
                        </p>
                        <div class="price">$150</div>
                        <button class="buy-now">Buy Now</button>
                    </div>
                </section>
            </div>
        </div>
    </main>
</body>

