@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Desktops</h1>
        </section>
        <div style="position: relative;">
            <a href="../Home/HomePage" class="back-btn">Back</a>
            <div class="category-products container">
                    <div class="product-image">
                        <img src="~/Content/assets/images/products/desktop (2).png" alt="Desktop">
                    </div>

                    <div class="product-info">
                        <h2>High Performance Desktop</h2>
                        <p>
                            This desktop is designed for gaming, productivity, and everything in between. Powered by the latest Intel processors and NVIDIA graphics cards.
                        </p>
                        <div class="price">$1200</div>
                        <button class="buy-now">Buy Now</button>
                    </div>
            </div>
        </div>
    </main>
</body>

