@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Dress & Frock</h1>
        </section>
        <div style="position: relative;">
            <a href="javascript:history.back()" class="back-btn">Back</a>
            <section class="product-page container">
                <div class="product-image">
                    <img src="~/Content/assets/images/products/dress.png" alt="Dress">
                </div>

                <div class="product-info">
                    <h2>Elegant Dress</h2>
                    <p>
                        Chic and comfortable, this midi dress features a flattering silhouette and soft fabric,
                        making it perfect for both casual outings and formal events. Available in a variety of colors to
                        suit any style.
                    </p>
                    <div class="price">$75</div>
                    <button class="buy-now">Buy Now</button>

                </div>
                <div class="product-image">
                    <img src="~/Content/assets/images/products/frock.png" alt="Frock">
                </div>

                <div class="product-info">
                    <h2>Elegant Frock</h2>
                    <p>
                        This adorable floral frock combines comfort and charm with its lightweight fabric and playful
                        design, perfect for warm days and special occasions.
                        Available in a range of vibrant prints.
                    </p>
                    <div class="price">$75</div>
                    <button class="buy-now">Buy Now</button>
                </div>
            </section>
        </div>
    </main>
</body>


