@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="category-header">
            <h1>Electronics</h1>
        </section>
        <div style="position: relative;">
            <a href="../Home/HomePage" class="back-btn">Back</a>
            <section class="category-products container">
                <a href="javascript:history.back()" class="back-btn">
                    <ion-icon name="arrow-back-outline"></ion-icon> Back
                </a>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/desktop.png" alt="Desktop">
                    <h3>Desktops</h3>
                    <a href="../Home/Desktop">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/laptop.png" alt="Laptop">
                    <h3>Laptops</h3>
                    <a href="../Home/Laptop">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/camera.png" alt="Camera">
                    <h3>Cameras</h3>
                    <a href="../Home/Camera">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/tablet.png" alt="Tablet">
                    <h3>Tablets</h3>
                    <a href="../Home/Tablet">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/headphone.png" alt="Headphones">
                    <h3>Headphones</h3>
                    <a href="../Home/Headphone">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/smartwatch.png" alt="SmartWatch">
                    <h3>Smart Watch</h3>
                    <a href="../Home/Smart_Watch">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/smart_tv.png" alt="SmartTV">
                    <h3>Smart TV</h3>
                    <a href="../Home/Smart_TV">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/keyboard.png" alt="Keyboard">
                    <h3>Keyboard</h3>
                    <a href="../Home/Keyboard">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/mouse.png" alt="Mouse">
                    <h3>Mouse</h3>
                    <a href="../Home/Mouse">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/microphone.png" alt="microphone">
                    <h3>Microphone</h3>
                    <a href="../Home/Microphone">Shop Now</a>
                </div>
            </section>
            </div>
    </main>
</body>
