@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Men's Formal Wear</h1>
        </section>
        <div style="position: relative;">
            <a href="javascript:history.back()" class="back-btn">Back</a>
            <div class="category-products container">
                <div class="product-image">
                    <img src="~/Content/assets/images/products/shirt-1.png" alt="Shirt">
                </div>

                <div class="product-info">
                    <h2>Men's Casual Blue Shirt</h2>
                    <p>
                        Stylish and comfortable, this men's casual shirt is perfect for daily wear. Available in multiple
                        colors and sizes.
                    </p>
                    <div class="price">$25</div>
                    <button class="buy-now">Buy Now</button>
                </div>

                <div class="product-image">
                    <img src="~/Content/assets/images/products/shirt-2.png" alt="Shirt">
                </div>

                <div class="product-info">
                    <h2>Men's Casual White Shirt</h2>
                    <p>
                        Crafted for both style and comfort, this men's polo shirt is an excellent choice for casual outings.
                        Available in various shades and sizes to match your personal style.
                    </p>
                    <div class="price">$25</div>
                    <button class="buy-now">Buy Now</button>
                </div>
            </div>
        </div>
    </main>
</body>


