@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="category-header">
            <h1>Jewelry</h1>
        </section>
        <div style="position: relative;">
            <a href="../Home/HomePage" class="back-btn">Back</a>
            <section class="category-products container">
                <a href="javascript:history.back()" class="back-btn">
                    <ion-icon name="arrow-back-outline"></ion-icon> Back
                </a>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/earrings.png" alt="Earrings">
                    <h3>Earrings</h3>
                    <a href="earrings.html">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/rings.png" alt="Couple Rings">
                    <h3>Couple Rings</h3>
                    <a href="couple_rings.html">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/necklace.png" alt="Necklace">
                    <h3>Necklace</h3>
                    <a href="necklace.html">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/bracelet.png" alt="Bracelets">
                    <h3>Bracelets</h3>
                    <a href="bracelets.html">Shop Now</a>
                </div>
            </section>
        </div>
    </main>
</body>

