@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Laptops</h1>
        </section>
        <div style="position: relative;">
            <a href="javascript:history.back()" class="back-btn">Back</a>
            <section class="product-page container">
                <div class="product-image">
                    <img src="~/Content/assets/images/products/laptop (2).png" alt="Laptop">
                </div>

                <div class="product-info">
                    <h2>Ultra-Light Laptop</h2>
                    <p>
                        Perfect for students and professionals, this ultra-light laptop comes with a long battery life and
                        high-speed performance for all your needs.
                    </p>
                    <div class="price">$950</div>
                    <button class="buy-now">Buy Now</button>
                </div>
            </section>
        </div>
    </main>
</body>

