@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Earrings</h1>
        </section>
        <div style="position: relative;">
            <a href="../Home/HomePage" class="back-btn">Back</a>
            <section class="product-page container">
                <div class="product-image">
                    <img src="~/Content/assets/images/products/makeup_kit.png" alt="Earrings">
                </div>

                <div class="product-info">
                    <h2>Makeup Kit For Women</h2>
                    <p>
                        This all-in-one makeup kit features a stunning collection of eyeshadows, lip colors, blushes, and more, perfect for creating both everyday looks and glamorous transformations.
                        Compact and travel-friendly for beauty on the go.
                    </p>
                    <div class="price">$150</div>
                    <button class="buy-now">Buy Now</button>
                </div>
            </section>
        </div>
    </main>
</body>

