@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="category-header">
            <h1>Men's Fashion</h1>
        </section>
        <div style="position: relative;">
            <section class="category-products container">
                <a href="javascript:history.back()" class="back-btn">
                    <ion-icon name="arrow-back-outline"></ion-icon> Back
                </a>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/shirt-1.png" alt="Shirts">
                    <h3>Shirts</h3>
                    <a href="../Home/Shirts">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/jeans for men.png" alt="Shorts & Jeans">
                    <h3>Shorts & Jeans</h3>
                    <a href="../Home/Pants">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/shoe-4.png" alt="Safety Shoes">
                    <h3>Safety Shoes</h3>
                    <a href="../Home/Safety_Shoes">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/wallet.png" alt="Wallet">
                    <h3>Wallet</h3>
                    <a href="../Home/Wallet">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/shirt-2.png" alt="Foraml Wear">
                    <h3>Formal</h3>
                    <a href="../Home/Formal_Men">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/casual_men.png" alt="Casual Wear">
                    <h3>Casual</h3>
                    <a href="../Home/Casual_Men">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/sports-1.png" alt="Sports">
                    <h3>Sports</h3>
                    <a href="../Home/Sport_Men">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/jacket-1.png" alt="Jacket">
                    <h3>Jackets</h3>
                    <a href="../Home/Jacket_Men">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/sunglasses.png" alt="Sunglasses">
                    <h3>Sunglasses</h3>
                    <a href="../Home/Sunglasses_Men">Shop Now</a>
                </div>
            </section>
        </div>
    </main>
</body>

