@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Mouse</h1>
        </section>
        <div style="position: relative;">
            <a href="../Home/HomePage" class="back-btn">Back</a>
            <section class="product-page container">
                <div class="product-image">
                    <img src="~/Content/assets/images/products/mouse (2).png" alt="Mouse">
                </div>

                <div class="product-info">
                    <h2>Wireless Gaming Mouse</h2>
                    <p>
                        This wireless gaming mouse is perfect for precise control and speed. With adjustable DPI settings
                        and ergonomic design, it offers maximum comfort.
                    </p>
                    <div class="price">$60</div>
                    <button class="buy-now">Buy Now</button>
                </div>
            </section>
        </div>
    </main>
</body>

