@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Earrings</h1>
        </section>
        <div style="position: relative;">
            <a href="javascript:history.back()" class="back-btn">Back</a>
            <section class="product-page container">
                <div class="product-image">
                    <img src="~/Content/assets/images/products/necklace.png" alt="Necklace">
                </div>

                <div class="product-info">
                    <h2>Elegant Gold Necklace</h2>
                    <p>
                        Elegant and timeless, this gold-plated necklace adds a touch of sophistication to any outfit.
                        Featuring a minimalist design, it's perfect for both everyday wear and special occasions.
                    </p>
                    <div class="price">$150</div>
                    <button class="buy-now">Buy Now</button>
                </div>
            </section>
        </div>
    </main>
</body>

