@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="category-header">
            <h1>Perfume</h1>
        </section>
        <div style="position: relative;">
            <a href="../Home/HomePage" class="back-btn">Back</a>
            <section class="category-products container">
                <a href="javascript:history.back()" class="back-btn">
                    <ion-icon name="arrow-back-outline"></ion-icon> Back
                </a>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/perfume.png" alt="Clothes Perfumes">
                    <h3>Clothes Perfumes</h3>
                    <a href="clothes_perfumes.html">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/deodorant.png" alt="Deodorant">
                    <h3>Deodorant</h3>
                    <a href="deodorant.html">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/flower_fragance.png" alt="Flower Fragrance">
                    <h3>Flower Fragrance</h3>
                    <a href="flower_fragrances.html">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/air_freshener.png" alt="Air Freshener">
                    <h3>Air Freshener</h3>
                    <a href="air_freshener.html">Shop Now</a>
                </div>
            </section>
        </div>
    </main>
</body>

