@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Shampoo</h1>
        </section>
        <div style="position: relative;">
            <a href="javascript:history.back()" class="back-btn">Back</a>
            <section class="product-page container">
                <div class="product-image">
                    <img src="~/Content/assets/images/products/shampoo.png" alt="Old Spice">
                </div>

                <div class="product-info">
                    <h2>Old Spice</h2>
                    <p>
                        Experience a fresh, long-lasting clean with Old Spice shampoo, designed to wash away dirt and oil while leaving a bold, masculine scent.
                        Perfect for all hair types, it provides a refreshing boost to your daily routine.
                    </p>
                    <div class="price">$15</div>
                    <button class="buy-now">Buy Now</button>                  
                </div>
                <div class="product-image">
                    <img src="~/Content/assets/images/products/shampoo1.png" alt="Shampoo">
                </div>

                <div class="product-info">
                    <h2>Shampoo</h2>
                    <p>
                    Revitalize your hair with this nourishing shampoo,
                    formulated to cleanse gently while restoring moisture and shine. Perfect for daily use, it leaves your hair feeling soft, healthy, and refreshed.                       
                    </p>
                    <div class="price">$15</div>
                    <button class="buy-now">Buy Now</button>
                </div>
            </section>
        </div>
    </main>
</body>

