@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Smart TV</h1>
        </section>
        <div style="position: relative;">
            <a href="../Home/HomePage" class="back-btn">Back</a>
            <section class="product-page container">
                <div class="product-image">
                    <img src="~/Content/assets/images/products/smart_tv.png" alt="Smart TV">
                </div>

                <div class="product-info">
                    <h2>4K Ultra HD Smart TV</h2>
                    <p>
                        Experience the ultimate home entertainment with this 4K Ultra HD Smart TV. Featuring vibrant colors,
                        built-in streaming apps, and a sleek design.
                    </p>
                    <div class="price">$950</div>
                    <button class="buy-now">Buy Now</button>
                </div>
            </section>
        </div>
    </main>
</body>

