@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="product-header">
            <h1>Tablets</h1>
        </section>
        <div style="position: relative;">
            <a href="javascript:history.back()" class="back-btn">Back</a>
            <section class="product-page container">
                <div class="product-image">
                    <img src="~/Content/assets/images/products/tablet.png" alt="Tablets">
                </div>

                <div class="product-info">
                    <h2>Tablet Surface Pro Max 9</h2>
                    <p>
                        High-performance tablet with a sleek design, featuring a vibrant touchscreen display for clear visuals and smooth navigation.
                        Powered by a fast processor for seamless multitasking, it’s perfect for browsing, streaming, and productivity on the go.
                        Equipped with a long-lasting battery and ample storage, this tablet is ideal for work, play, and everything in between.
                    </p>
                    <div class="price">$250</div>
                    <button class="buy-now">Buy Now</button>
                </div>
            </section>
        </div>
    </main>
</body>

