@{
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<body>
    <main>
        <section class="category-header">
            <h1>Women's Fashion</h1>
        </section>
        <div style="position: relative;">
            <a href="../Home/HomePage" class="back-btn">Back</a>
            <section class="category-products container">
                <div class="product-card">
                    <img src="~/Content/assets/images/products/dress.png" alt="Dress & Frock">
                    <h3>Dress & Frock</h3>
                    <a href="../Home/Dress">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/earrings.png" alt="Earrings">
                    <h3>Earrings</h3>
                    <a href="../Home/Earrings">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/necklace.png" alt="Necklace">
                    <h3>Necklace</h3>
                    <a href="../Home/Necklace">Shop Now</a>
                </div>
                <div class="product-card">
                    <img src="~/Content/assets/images/products/makeup_kit.png" alt="Makeup Kit">
                    <h3>Makeup Kit</h3>
                    <a href="../Home/Makeup_Kit">Shop Now</a>
                </div>
            </section>
        </div>
    </main>
</body>

